setuptools>=41.2.0
nbsphinx==0.8.0
ipython==7.19.0
ipykernel==5.4.3
numpydoc==0.7.0
sphinx==3.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-rawfiles==0.1.1
sphinx-autoapi==1.5.1
sphinx-autodoc-typehints==1.11.1
sphinx-gallery==0.8.2
